body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

/* Логотип */

.webstudio-link {
  font-size: 18px;            /* Розмір шрифту */
  line-height: 1.17;          /* Відстань між рядками */
  letter-spacing: 0.03em;     /* Відступи між літерами */
  text-transform: uppercase;  /* Текст великими літерами */
  color: #4d5ae5;           /* Колір тексту */
  text-decoration: none;      /* Прибирає підкреслення (опційно) */
}

.logo-span {
  color: #2e2f42;           /* Специфічний колір тексту для span */
}

.nav-link {
  font-weight: 500; /* Жирність шрифту */
  font-size: 16px; /* Розмір шрифту */
  line-height: 1.5; /* Міжрядковий інтервал */
  letter-spacing: 0.02em; /* Відстань між літерами */
  color: #2e2f42; /* Основний колір тексту */
  text-decoration: none; /* Прибирає підкреслення */
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf; /* Колір тексту при ховері та фокусі */
}

/* Стиль для address / <address class="contact-address"> */
.contact-address {
  font-style: normal; /* Прибирає курсив */
}

/* Стиль для посилань */
.contact-link {
  font-size: 16px; /* Розмір шрифту */
  line-height: 1.5; /* Міжрядковий інтервал */
  letter-spacing: 0.02em; /* Відстань між літерами */
  color: #434455; /* Основний колір тексту */
  text-decoration: none; /* Прибирає підкреслення */
}

/* Зміна кольору тексту при ховері та фокусі */
.contact-link:hover,
.contact-link:focus {
  color: #404bbf; /* Колір тексту при наведенні та фокусі */
}

/* Шрифт Roboto */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Шрифт Raleway */

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Перша секція. Заголовок та КНОПКА. */

/* Стиль для секції */
.main-section {
  background-color: #2e2f42; /* Колір фону секції */
  text-align: center; /* Центрування вмісту */
}

/* Стиль для заголовка */
.section-title {
  font-size: 56px; /* Розмір шрифту */
  line-height: 1.07; /* Міжрядковий інтервал */
  text-align: center; /* Вирівнювання тексту */
  letter-spacing: 0.02em; /* Відстань між літерами */
  color: #ffffff; /* Колір тексту */
  margin-bottom: 20px; /* Відступ під заголовком */
}

/* Стиль для кнопки */
.action-button {
  background-color: #4D5AE5; /* Колір фону кнопки */
  font-family: "Roboto", sans-serif; /* Сімейство шрифтів */
  font-weight: 500; /* Жирність шрифту */
  font-size: 16px; /* Розмір шрифту */
  line-height: 1.5; /* Міжрядковий інтервал */
  letter-spacing: 0.04em; /* Відстань між літерами */
  color: #ffffff; /* Початковий колір тексту */
  border: none; /* Прибирає рамку */
  cursor: pointer; /* Стиль курсора */
  transition: color 0.3s ease; /* Плавний перехід кольору тексту */
}

/* Стиль для кнопки при ховері */
.action-button:hover {
   background-color: #404BBF /* Зміна кольору тексту */
  
}

/* Стиль для кнопки при фокусі */
.action-button:focus {
    background-color: #404BBF /* Зміна кольору тексту */
}